<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="static/css/chat.css">
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>



<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>

    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">

        <div class="chatbox">
            <button id="chat-button" type="button" class="collapsible"> Chat with us!
                <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
            </button>

            <div class="content">
                <div class="full-chat-block">

                    <!-- Message Container -->
                    <div class="outer-container">
                        <div class="chat-container">

                            <!-- Messages -->
                            <div id="chatbox">
                                <h5 id="chat-timestamp"></h5>
                                <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                            </div>

                            <!-- User input box -->
                            <div class="chat-bar-input-block">
                                <div id="userInput">
                                    <!-- <input id="textInput" class="input-box" type="text" name="msg" -->
                                    <input id="text" class="input-box" type="text" name="msg"
                                        placeholder="Tap 'Enter' to send a message">
                                    <p></p>
                                </div>

                                <div class="chat-bar-icons">
                                    <!-- <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send" -->
                                    <button type="submit" id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                        onclick="getResponse()"></i>
                                </div>
                            </div>

                            <div id="chat-bar-bottom">
                                <p></p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- button -->
    <div class="chat_btn">
        <img src="../static/images/Circle-icons-chat.svg.png" alt="chat box icon btn">
    </div>

    <script>
        function getResponse() {
            
            let userText = $("#text").val();

            if (userText == "") {
                userText = "I love Code Palace!";
            }

            let userHtml = '<p class="userText"><span>' + userText + '</span></p>';

            $("#text").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("chat-bar-bottom").scrollIntoView(true);



            $.ajax({
                data: {
                    msg: userText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append($.parseHTML(botHtml));
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });

            event.preventDefault(); 

        }
        
        
        
    </script>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/scripts/responses.js"></script>
<script src="static/scripts/chat.js"></script>

</html>